body {
  font-family: 'Encode Sans Semi Expanded', sans-serif;
    padding-top: 3.4375rem;
    background-image: url("../images/concrete_seamless.png");
    background-attachment: fixed;
  }

  .project {
    margin-bottom: 1.875rem;
  }
  
  .pagination {
    margin-bottom: 1.875rem;
  }

.mainCard{
  box-shadow: .125rem .125rem .125rem .0625rem rgba(17, 17, 17, 0.575);
}
.mainCard:hover {
  /* color: rgb(234, 236, 122); */
  box-shadow: .125rem .1875rem .625rem .1875rem rgba(9, 29, 77, 0.4);
  transform: translateY(.125rem);
}

.card-link,.card-title{
  font-weight: 800;
  text-shadow: .125rem .125rem .625rem rgba(0, 0, 0, 0.404);
  text-decoration: none !important;
}

.nav-link{
  font-size: 1.25rem;
  font-weight: 400;
}

#navName{
  /* font-family: 'Nothing You Could Do', cursive; */
  color: #c3c5c5;
  font-size: 1.65rem;
  font-weight: 400;
  text-shadow: .125rem .125rem .625rem rgba(0, 0, 0, 0.609)
}


/* Picture on About Page */
.auth-image {
  float: left;
  width: 200px;
  height: auto;
  margin-top: .625rem;
  margin-right: 1.5625rem;
  box-shadow: .1875rem .1875rem .625rem .0625rem #474747;
}   

/* About Page */
.main-section {
  float: left;
  width: 100%;
  max-width: 60rem;
  margin: 3.875rem 0 3.5rem;
  background: #fff;
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  font-weight: 500;
}

.logo{
  height: 3.75rem;
  width: 3.75rem;
  margin-bottom: .625rem;
  margin-right: .625rem;
}

/* Main Page Title */
#name{
margin-top: 2.875rem;
font-size: 3.75rem;
font-weight: 900;
text-shadow: .125rem .125rem .625rem rgba(0, 0, 0, 0.609)
}

/* Portfolio Page Title */
#name2{
  margin-top: 1.875rem;
  margin-bottom: 1.25rem;
  font-size: 3.4375rem;
  font-weight: 900;
  text-shadow: .125rem .125rem .625rem rgba(0, 0, 0, 0.609)
  }

#info{
  font-size: 1.125rem;
  font-weight: 600;
  text-shadow: .125rem .125rem .625rem rgba(0, 0, 0, 0.404)
}

/* Describes */
.description{
  font-size: .9375rem;
  font-weight: 500;
  overflow-y: scroll;
  height: 9.375rem;  
  padding: .3125rem;
}

#about{
  font-size: 1.125rem;
  font-weight: 800;
  text-shadow: .125rem .125rem .625rem rgba(0, 0, 0, 0.329)
}

.sequelize{
  width: 8.57rem;
}

#icons .fa {
  font-size: 2.5rem;
  padding-right: .625rem;
  color: #babbbb;
}

.fa:hover {
  color: #dce0e0 !important;
}

.fa:active {
  color: rgb(233, 248, 255) !important;
  transform: translateY(.125rem);
}

.navbar,#pageFooter{
  box-shadow: 0 .1875rem .3125rem .0625rem #474747af;
  height: 3.4375rem;
}

#pageFooter{
  box-shadow: 0 -.0625rem .3125rem .0625rem #474747af;
}

@media (max-width: 768px) {
  html {
    font-size: 11px;
  }

  .col-md-1{
    height: 3.75rem;
    width: 3.75rem;
  float: left;
}
}

@media (min-width: 62rem) {
  body {
    padding-top: 3.4375rem;
  }
}
