body {
  font-family: 'Encode Sans Semi Expanded', sans-serif;
    padding-top: 3.4375rem;
    background-image: url("../images/wall_a2.jpg");
    background-attachment: fixed;
    background-position: center; 
    background-size: cover;  
  }

  /*Project Cards  */
  .project {
    margin-bottom: 1.875rem;
  }

.mainCard{
  box-shadow: .125rem .125rem .125rem .0625rem rgba(17, 17, 17, 0.575);
}
.mainCard:hover {
  box-shadow: .125rem .1875rem .625rem .1875rem rgba(66, 70, 78, 0.4);
  transform: translateY(.125rem);
}

.card-link,.card-title{
  font-weight: 800;
  text-shadow: .125rem .125rem .525rem rgba(0, 0, 0, 0.404);
  text-decoration: none !important;
  color: rgb(61, 61, 61) !important;
}

.card-text{
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  text-shadow: .010rem .055rem .125rem rgba(63, 63, 63, 0.404);
  border-top: .0625rem ridge rgba(56, 56, 56, 0.527) !important;
  border-left: .0625rem ridge rgba(87, 86, 86, 0.349) !important;
  background-color: rgb(248, 248, 242);
  color: rgb(107, 105, 105);
}

/* Change color on hover  & active*/
.card-title:hover{
  color: rgba(33, 40, 139, 0.801) !important;
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px rgba(255, 255, 255, 0.377), 0 0 20px #18a3ff, 0 0 15px #1693e62d, 0 0 20px;
  color: rgba(48, 84, 151, 0.966)!important;
}

.card-link:hover{
  color: rgba(33, 40, 139, 0.801) !important;
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px rgba(255, 255, 255, 0.377), 0 0 20px #18a3ff, 0 0 15px #1693e64f, 0 0 15px;
  color: rgba(48, 84, 151, 0.966)!important;
}

.card-title:active {
  color: rgba(92, 238, 238, 0.973) !important;
  transform: translateY(.125rem);
}

.card-link:active {
  color: rgba(92, 238, 238, 0.993) !important;
  transform: translateY(.125rem);
}

.nav-link:hover{
  color: rgba(33, 40, 139, 0.801) !important;
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px rgba(255, 255, 255, 0.377), 0 0 20px #18a3ff, 0 0 35px #1f9ef396, 0 0 40px #1f9ef375;
  color: rgba(48, 84, 151, 0.966)!important;
}

.nav-link:active {
  color: rgba(92, 238, 238, 0.993) !important;
  transform: translateY(.125rem);
}

#navbarResponsive{
font-weight: bold;
}

a.nav-link{
  font-size: 1.15rem;
  font-weight: 900;
}

#navName{
  color: #c3c5c5;
  font-size: 1.65rem;
  font-weight: 900;
  text-shadow: .125rem .125rem .625rem rgba(0, 0, 0, 0.609)
}


/* Picture on About Page */
.auth-image {
  float: left;
  width: 12.5rem;
  height: auto;
  margin-top: .625rem;
  margin-right: 1.5625rem;
  box-shadow: .1875rem .1875rem .625rem .0625rem #474747;
}   

/* About Page */
.main-section {
  float: left;
  width: 100%;
  max-width: 60rem;
  margin: 3.875rem 0 3.5rem;
  background: #fff;
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  font-weight: 500;
}

.logo{
  height: 3.75rem;
  width: 3.75rem;
  margin-top: .5rem;
  margin-bottom: .625rem;
  margin-right: .825rem;
}

/* Main Page Title */
#name{
/* margin-top: 3.875rem; */
font-size: 2.75rem;
font-weight: 900;
text-shadow: .125rem .125rem .625rem rgba(0, 0, 0, 0.609);
}

/* Portfolio Page Title */
#name2{
  margin-top: 1.875rem;
  margin-bottom: 1.25rem;
  font-size: 3.4375rem;
  font-weight: 900;
  text-shadow: .125rem .125rem .625rem rgba(0, 0, 0, 0.609)
  }

#info{
  margin-top: .875rem;
  font-size: 1.125rem;
  font-weight: 600;
  text-shadow: .125rem .125rem .625rem rgba(0, 0, 0, 0.404)
}

/* Description*/
.description{
  font-size: .9375rem;
  font-weight: 500;
  overflow-y: scroll;
  height: 9.875rem;  
  padding: .3125rem;
}

#about{
  margin-top: .875rem;
  font-size: 1.125rem;
  font-weight: 800;
  text-shadow: .125rem .125rem .625rem rgba(0, 0, 0, 0.329);
}

.me{
  position: relative;
  z-index: 1;
}

.me2{
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(221, 221, 221, 0.718);
  filter: blur(8px);
  -webkit-filter: blur(8px);
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* Badges */
.sequelize{
  width: 5.07rem;
  height: 4.07rem;
  margin-left: -.4rem;
}

.handlebars{
  width: 5.27rem;
  margin-left: -.8rem
}

.mysql{
  width: 4.07rem;
  margin-left: -.25rem
}

.mongodb{
  width: 5.07rem;
  height: 4.07rem;
  margin-left: -1rem;
}

/* Footer Icons */
#icons .fa {
  font-size: 2.4rem;
  padding-right: .625rem;
  color: #babbbb;
  margin-top: .3125rem;
}

.fa:hover {
  /* color: #dce0e0 !important; */
  color: rgba(33, 40, 139, 0.801) !important;
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px rgba(255, 255, 255, 0.377), 0 0 20px #18a3ff, 0 0 15px #1693e64f, 0 0 30px;
  color: rgba(48, 84, 151, 0.966)!important;

}

.fa:active {
  color: rgba(92, 238, 238, 0.932) !important;
  transform: translateY(.125rem);
}

/* Header and Footer */
.navbar,#pageFooter{
  transition-property: background-color;
  transition-duration:  750ms;
  transition-timing-function:  ease;
  min-height: 3.125rem;
  opacity: .9;
  padding: 0 !important;;
}

.scrolled{
  transition-property: background-color;
  transition-duration:  750ms;
  transition-timing-function:  ease;
  background-color: rgba(0, 0, 0, 0.87) !important;
}


.navbar{
  box-shadow: 0 .1875rem .3125rem .0625rem #47474752;
  background-image: linear-gradient(rgba(27, 27, 32, 0.87), rgba(125, 127, 128, 0.411));  
}

#pageFooter{
  box-shadow: 0 -.2625rem .3125rem .0625rem #47474756 !important;
  background-image: linear-gradient( rgba(125, 127, 128, 0.411),rgba(27, 27, 32, 0.87));  
}

.navbar-fixed-top {
  min-height: 5rem;
  }


/* Main Picture on About Page @ 768px*/
@media (max-width: 768px) {
.col-md-1 {
  width: 60px !important ;
 }  
}

/* Media Query 768px */
@media (max-width: 768px) {
  html {
    font-size: .6875rem;
  }
  .col-md-1{
    height: 3.75rem;
    width: 3.75rem;
  float: left;
 }

/* Badge CSS @768px*/
.logo{
  height: 3rem;
  width: 3rem;
  margin-bottom: .625rem;
  margin-right: .825rem;
  margin-top: -.01rem;
 } 

.container{
  margin-bottom: -.1875rem;
  margin-top: -.1875rem;
 }

 
 .space{
    margin-bottom: 3.625rem;
 }

.handlebars{
    width: 3.57rem;
    margin-left: -.45rem
 }
  
 .mysql{
    width: 3.57rem;
    margin-left: -.3rem
 }

  .mongodb{
    margin-left: .25rem;
 }

  .sequelize{
    margin-left: -.25rem;
 }
  
  /* Main Picture on About Page @  768px*/
.auth-image {
  width: 15.625rem;
  height: auto;
 } 
}  


/* Media Queries  768px to 999px */
@media (min-width: 769px) and (max-width: 999px) {
  body {
    padding-top: 3.4375rem;
  }
  .project {
    margin-bottom: 1.875rem;
  }
  /* Badges   768px to 999px*/
  .logo{
    height: 2.5rem;
    width: 2.5rem;
    margin-bottom: .625rem;
    margin-right: .825rem;
    margin-top: .25rem;
    
  }
  .sequelize{
    margin-left: -.2rem;
  }
  .mysql{
    margin-left: .25rem
  }
  .handlebars{
    width: 3.5rem;
    margin-left: -.55rem
  }
  .mongodb{
    margin-left: -.2rem;
  }

  /* Spacer  Div */
  .space{
    margin-bottom: 3.625rem;
  }
  .container{
    margin-bottom: -.3125rem;
    margin-top: -.3125rem;
  }
  
  .col-md-1{
    height: 3.625rem;
    }
    
.mysql{
  margin-left: .025rem
 }
  
}
    